<div id="featured-debates" class="row featured-debates">

  <div class="small-12 column">
    <h2><%= t("debates.index.featured_debates") %></h2>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "Lanza tu pregunta para el Pleno Abierto",
                    "https://decide.madrid.es/debates/4588-lanza-tu-pregunta-para-el-pleno-abierto" %></h3>
    <%= link_to "Abriendo Madrid", "https://decide.madrid.es/users/67385" %>
  </div>

  <div class="small-12 medium-6 column">
    <h3><%= link_to "#TúPreguntas: Yolanda Rodríguez, concejala de Ciudad Lineal y Hortaleza",
                    "https://decide.madrid.es/debates/4599-tupreguntas-yolanda-rodriguez-concejala-de-ciudad-lineal-y-hortaleza" %></h3>
    <%= link_to "Yolanda Rodríguez", "https://decide.madrid.es/users/9462" %>
  </div>

</div>
