<div class="audit-debt">
  <div class="expanded no-margin-top jumbo-audit-debt">
    <div class="row" data-equalizer>
      <div class="small-12 column text-center">
        <h1>AUDITORÍA DE LA DEUDA</h1>

        <p>Auditoría Ciudadana Municipal de Deuda y Políticas Públicas del Ayuntamiento de Madrid</p>

        <div class="small-12 medium-4 column">
          <div class="panel active" data-equalizer-watch>
            <h2>1 <span>Recopilación y análisis de indicios</span></h2>
            <%= link_to "Enviar documento", "#send_document", class: "button expanded" %>
          </div>
        </div>

        <div class="small-12 medium-4 column">
          <div class="panel" data-equalizer-watch>
            <h2>2 <span>Análisis de la información y de impactos</span></h2>
          </div>
        </div>

        <div class="small-12 medium-4 column">
          <div class="panel" data-equalizer-watch>
            <h2>3 <span>Consultas ciudadanas y difusión de resultados</span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-top">
    <div class="small-12 medium-7 column">
      <h3>¿Qué es la Auditoria Ciudadana del Ayuntamiento de Madrid?</h3>
      <p>Es un proceso de identificación y análisis de aquellas políticas municipales que hayan podido tener un impacto negativo sobre la ciudadanía madrileña.</p>
      <p>Estos impactos negativos no son solo de tipo económico (efectos sobre el nivel de endeudamiento, inversión, o empleo, por ejemplo), sino también de tipo social, medioambiental o de género. Estudiar las malas prácticas que han generado estos impactos negativos permitirá tomar medidas que impidan su repetición en el futuro.</p>
      <p>Además, la información obtenida permitirá a la ciudadanía mejorar su conocimiento sobre la gestión municipal, ampliando así su capacidad de decisión en este ámbito.</p>
      <%= link_to "Ver más información sobre la auditoría de la deuda", page_path("debt_audit") %>
    </div>

    <div class="small-12 medium-5 column show-for-medium">
      <%= image_tag "audit_debt_intro.png" %>
    </div>
  </div>


  <div class="expanded gray padding margin">
    <div class="row">
      <div class="small-12 medium-9 column small-centered text-center">
        <h3>¿Qué tipo de cosas analiza la Auditoría?</h3>
        <p>La auditoría que llevamos a cabo es integral porque analiza toda aquella intervención pública con indicios de haber generado impacto negativo en distintas dimensiones.</p>
      </div>
    </div>

    <div class="row margin-top text-center">
      <div class="small-6 medium-2 medium-offset-1 column">
        <%= image_tag "audit_debt_icon_finance.png" %>
        <h4>Impacto financiero</h4>
      </div>

      <div class="small-6 medium-2 column">
      <%= image_tag "audit_debt_icon_economy.png" %>
        <h4>Impacto económico</h4>
      </div>

      <div class="small-6 medium-2 column">
        <%= image_tag "audit_debt_icon_social.png" %>
        <h4>Impacto social</h4>
      </div>

      <div class="small-6 medium-2 column">
        <%= image_tag "audit_debt_icon_environment.png" %>
        <h4>Impacto medioambiental</h4>
      </div>

      <div class="small-6 medium-2 column end">
        <%= image_tag "audit_debt_icon_gender.png" %>
        <h4>Impactos de género</h4>
      </div>
    </div>
  </div>

  <div class="row" data-equalizer>
    <div class="small-12 medium-5 column show-for-medium" data-equalizer-watch>
      <%= image_tag "audit_debt_citizens.jpg", class: "margin-top" %>
    </div>

    <div class="small-12 medium-7 column" data-equalizer-watch>
      <h3>¿Qué papel juega la participación ciudadana en la Auditoría?</h3>
      <p>La participación ciudadana es un pilar básico de la Auditoría. Se habilitarán mecanismos para que la participación pueda darse en los siguientes ámbitos:</p>
      <ul>
        <li>Identificación de casos de políticas municipales con posibles impactos negativos sobre la ciudadanía que deban ser sometidos a la Auditoría.</li>
        <li>Aportación de indicios de posibles impactos negativos, ya sean de tipo financiero, económico, social, medioambiental o de género.</li>
        <li>Participar en el proceso de análisis de impactos.</li>
        <li>Conocer los resultados parciales y finales de la Auditoría.</li>
        <li>Proponer y participar en consultas ciudadanas que se deriven de los resultados obtenidos por la Auditoría, tomando las decisiones finales sobre las actuaciones más relevantes a tomar como resultado de la Auditoría.</li>
      </ul>
    </div>
  </div>

  <div class="expanded divider">
    <div id="send_document" class="row margin-top">
      <div class="small-12 medium-6 small-centered column">
        <h2>Enviar documento</h2>

        <form>
          <label>Título</label>
          <input type="text" placeholder="Título">
          <label>Mensaje</label>
          <textarea rows="4"></textarea>
          <input type="file" name="attachment" id="attachment" >
          <input type="submit" value="Enviar documento" class="button expanded">
        </form>
      </div>
    </div>
  </div>
</div>